---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi! I’m a medical student and an ex-software engineer. I am a huge nerd who is incredibly excited about using technology to reshape healthcare in hopes that we can both increase healthcare access and improve health outcomes.
	</p>
	<p>
		My current side-project is <a href="https://www.meremedical.co" target="_blank">Mere Medical</a> - a free, privacy focused medical record management website that makes gathering all of your medical records across multiple health systems a breeze.
	</p>
</Layout>
